*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.main{
    background-color: rgb(240, 240, 240);
    padding: 10px;
}
.first_menu{
    border: 1px solid rgb(228, 228, 228);
    background-color: white;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}
.first_menu_p{
    border-left: 1px solid rgb(228, 228, 228);
    margin-left: 20px;
    width: 60%;
    font-size: 12px;
    color: rgb(1, 1, 15);
}
.first_menu_l a{
    border-left: 1px solid rgb(228, 228, 228);
    font-size: 12px;
    color: rgb(1, 1, 15);
}
.first_menu_l a:hover{
    text-decoration: none;
}
.second_menu{
    display: flex;
    padding: 10px;
}
.second_menu_c ul{
    display: flex;
}
.second_menu_c ul li{
    display: flex;
    width: 50%;
    text-align: center;
}
.contact-info h5{
    font-size: 20px;
    color: rgb(156, 155, 155);
}
.contact-info h6{
    font-size: 20px;
    color: rgb(1, 1, 15);text-align: right;
}
.menu_bg{
    background-color: rgb(4, 21, 68);
}
#my-navbar-collapse ul li a{
    color: white;
    font-size: 20px;
    transition: all ease-in-out 0.5s;
}
#my-navbar-collapse ul li a:hover{
    color: rgb(255, 115, 0);
}
.social-icon ul{
    display: flex;
    margin-top: 15px;
}
.social-icon ul li{
    display: flex;
    padding: 10px;
}
.social-icon ul li a{
    font-size: 20px;
    color: rgb(156, 155, 155);
    transition: all ease-in-out 0.5s;
}
.social-icon ul li a:hover{
    color: rgb(255, 115, 0);
    text-decoration: none;
}
.sliderbg{
    position: relative;
    height: 500px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
swiper-container {
    width: 100%;
    height: 100%;
}
swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider_text{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.slider_text h5{
    color: rgb(1, 1, 53);
    font-size: 20px;
    font-weight: bold;
}
.slider_text h2{
    color: rgb(1, 1, 53);
    font-size: 60px;
    font-weight: bold;
}
.slider_text h3{
    color: rgb(1, 1, 53);
    font-size: 40px;
    font-weight: bold;
    margin-top: 200px;
}
#overlap-two{
    background-color: #ffffff;
}
.about-inner{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: rgb(1, 1, 53);
    color: white;
    padding: 15px;
}
.about-inner h2{
    font-size: 50px;
    font-weight: bolder;
}
.our-function-inner{
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 10px;
}
.function-content{
    padding: 10px;
}
.our-function-inner h4{
    color: rgb(1, 1, 53);
    font-weight: bolder;
    font-size: 20px;
}
.function{
    margin-left: 10px;
    display: flex;
}
.function span{
    color: orangered;
    font-size: 30px;
    padding: 10px;
}
.counter-inner{
    padding: 20px;
}
.counter-heading h2 span{
    color: orangered;
}
.fun-factor{
    display: flex;
    padding: 10px;
}
.icon span{
    color: aqua;
    font-size: 20px;
    padding: 20px;
}
.fun-info h1{
    color: rgb(1, 1, 53);
    font-weight: bolder;
    font-size: 35px;
}
.fun-info span{
    font-size: 17px;
}
.service-section{
    padding: 30px;
}
.section-title {
    padding: 10px;
}
.section-title h2{
    color: rgb(1, 1, 53);
    font-size: 30px;
    font-weight: bolder;
}
.service-block-content{
    padding-top: 20px;
}
.service-block-content span{
    color: orangered;
    padding: 10;
}
.service-block-content h4 a{
    color: rgb(1, 1, 53);
    /* font-size: 30px; */
    font-weight: bolder;
}
.client-feedback-inner{
    background-color: #fff;
    padding: 20px;
}
.owl-theme{
    display: flex;
    overflow: hidden;
}
.item{
    border: 1px solid rgb(228, 228, 228);
    margin: 10px;
    width: 500px;
    padding: 10px;
    position: relative;
}
.img-circle{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-top: -50px;
}
.img-name{
    margin-top: 30px;
}
.latest-news-block{
    position: relative;
}
.latest-news-content{
    position: absolute;
    background-color: #0000003b;
    width: 100%;
    top: 0;
    height: 100%;
}
.latest-news-content h6{
    position: absolute;
    color: #fff;
    font-size: 20px;
    bottom: 0;
    padding: 30px;
}
.latest-news-content span{
    position: absolute;
    color: #fff;
    font-size: 16px;
    top: 10px;
    padding: 30px;
}
.form-select select{
    width: 100%;
    outline: none;
    padding: 10px;
    margin: 10px;
}
.call-back-form input{
    width: 100%;
    outline: none;
    padding: 10px;
    margin: 10px;
}
.call-back-form button{
    width: 50%;
    outline: none;
    padding: 10px;
    margin: 10px;
    font-weight: bolder;
    background-color: orangered;
    border: none;
    color: white;
}
.partner-inner{
    width: 100%;
}
.partner-inner ul{
    display: flex;
    text-decoration: none;
}
.partner-inner ul li{
    text-decoration: none;
    margin: 10px;
    display: flex;
    object-fit: cover;
}
.partner-inner ul li img{
    text-decoration: none;
    margin: 0px 20px;
}
#footer{
    background-color: rgb(1, 1, 53);
    width: 100%;
    height: auto;
    padding: 20px;
}
.subscribe-form-area{
    padding: 20px;
}
.subscribe-form-area h3{
    color: #fff;
}
.input-group{
    display: flex;
}
.footer-widget{
    color: #fff;
    display: flex;
}
.footer-widget p{
    color: rgb(185, 180, 180);
    display: flex;
    padding: 20px 0px;
    font-size: 14px;
}
.social-icon{
    color: #2b2b2b;
    display: flex;
    margin: 10px;
}
.social-icon li{
    margin: 10px;
    text-decoration: none;
    display: flex;
}
.social-icon li a{
    text-decoration: none;
    color: rgb(163, 163, 255);
    border-radius: 50%;
    background-color: rgb(2, 2, 34);
    padding: 10px;

}
.social-icon li a:hover{
    text-decoration: none;
    color: orangered;

}
.footer-about{
    color: rgb(163, 163, 255);
    display: flex;
    padding: 20px 0px;
    font-size: 14px;
}
.wp-custom-nav ul{
    padding: 20px 0px;
    font-size: 14px;
}
.wp-custom-nav ul li{
    display: flex;
    font-size: 14px;
}
.wp-custom-nav ul li a{
    color: rgb(163, 163, 255);
    display: flex;
    font-size: 14px;
}
.post-entry h5 a, .post-entry span{
    color: rgb(163, 163, 255);
}
.last h5, .last span{
    color: rgb(163, 163, 255);
}
.address-block{
    padding: 10px;
}

.copyright{
    text-align: center;
    font-size: 16px;
    color: rgb(163, 163, 255);
}
.input-group{
    background-color: inherit;
    border-radius: 0px;
    border: 1px solid rgb(163, 163, 255);
}
.input-group input{
    background-color: inherit;
    border: none;
    outline: none;
}
.input-group button{
    outline: none;
    padding: 10px;
    background-color: orangered;
    border: none;
}







